Resonance/dump_wf.json
{"updatedAt": "2026-03-17T20:55:09.189Z", "createdAt": "2026-03-03T03:33:15.983Z", "id": "IT4LuCQm7Ph62Hf2", "name": "MetaApp: Resonance", "description": null, "active": true, "isArchived": false, "nodes": [{"id": "db5ff992-e0a2-490d-b6e9-9115183a65e8", "name": "Webhook_Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [100, 240], "parameters": {"httpMethod": "POST", "path": "Resonance-webhook", "responseMode": "responseNode", "options": {"responseCode": 200}}, "webhookId": "super-agent-v1"}, {"id": "379bf29c-f208-4295-8595-294ba12ddbf5", "name": "Reasoning_Agent", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1, "position": [320, 240], "parameters": {"prompt": "={{ $json.body.prompt }}", "options": {}}}, {"id": "6fc48115-950f-4118-8295-cb95d1431b0c", "name": "Gemini_Flash_Model", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [320, 460], "parameters": {"modelName": "models/gemini-2.0-flash", "options": {}}, "credentials": {"googlePalmApi": {"id": "CH9bCzMpKZxXZ0TC", "name": "Google Gemini(PaLM) Api account"}}}, {"id": "a76f95ad-68f3-4328-9d84-f43204ccf79a", "name": "Integration_Logic", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 240], "parameters": {"jsCode": "const inputs = $input.all();\nconst text = inputs[0].json.text;\nconst prompt = $('Webhook_Trigger').item.json.body.prompt;\n\n// Basic heuristic to extract a filename or create one\nlet fileName = \"Agent_Report.md\";\nif (prompt.toLowerCase().includes(\"java\")) fileName = \"Logic.js\";\nif (prompt.toLowerCase().includes(\"python\")) fileName = \"script.py\";\n\nreturn [{\n  json: {\n    app_name: \"Generated_App_\" + Math.floor(Math.random() * 1000),\n    file_name: fileName,\n    code: text\n  }\n}];"}}, {"id": "92a99774-9393-4576-95bb-a4d1ae299b36", "name": "Action_Agent_Folder", "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [760, 240], "parameters": {"resource": "folder", "name": "={{ $json.app_name }}", "driveId": {"__rl": true, "mode": "list", "value": "My Drive"}, "folderId": {"__rl": true, "value": "14uwBeFn8g5CbKLdOeUQSLH1ZD8B8Tc9W", "mode": "id"}, "options": {}}, "credentials": {"googleDriveOAuth2Api": {"id": "pVhQkv0LNDx2q0Ts", "name": "Google Drive account 7"}}}, {"id": "a41d2ace-a2e6-4be5-ab82-8a3272dc19bd", "name": "Translator", "type": "n8n-nodes-base.convertToFile", "typeVersion": 1, "position": [980, 240], "parameters": {"operation": "toText", "sourceProperty": "={{ $('Integration_Logic').item.json.code }}", "options": {"fileName": "={{ $('Integration_Logic').item.json.file_name }}"}}}, {"id": "ca3bfdeb-7afa-469e-8960-d19ef040d2ce", "name": "Action_Agent_File", "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [1200, 240], "parameters": {"name": "={{ $('Integration_Logic').item.json.file_name }}", "driveId": {"__rl": true, "mode": "list", "value": "My Drive"}, "folderId": {"__rl": true, "value": "={{ $node[\"Action_Agent_Folder\"].json[\"id\"] }}", "mode": "id"}, "options": {}}, "credentials": {"googleDriveOAuth2Api": {"id": "pVhQkv0LNDx2q0Ts", "name": "Google Drive account 7"}}}, {"id": "72566a70-7780-4886-8261-235ad7d24212", "name": "Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1420, 240], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ text: $(\"Reasoning_Agent\").item.json.text || \"No response.\", status: \"success\", source: \"multi_agent_core\" }) }}", "options": {}}}, {"id": "5cc69a39-3efd-4e82-a1db-381fc559a76c", "name": "Error_Trigger", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [540, 500], "parameters": {}}, {"id": "a2cf0518-249d-495e-ae43-35a660583c00", "name": "Error_Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 500], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ text: 'Internal workflow error: ' + ($json.execution?.error?.message || 'Unknown error'), source: 'multi_agent_core_error' }) }}", "options": {"responseCode": 200}}}], "connections": {"Webhook_Trigger": {"main": [[{"node": "Reasoning_Agent", "type": "main", "index": 0}]]}, "Gemini_Flash_Model": {"ai_languageModel": [[{"node": "Reasoning_Agent", "type": "ai_languageModel", "index": 0}]]}, "Reasoning_Agent": {"main": [[{"node": "Integration_Logic", "type": "main", "index": 0}]]}, "Integration_Logic": {"main": [[{"node": "Action_Agent_Folder", "type": "main", "index": 0}, {"node": "Response", "type": "main", "index": 0}]]}, "Action_Agent_Folder": {"main": [[{"node": "Translator", "type": "main", "index": 0}]]}, "Translator": {"main": [[{"node": "Action_Agent_File", "type": "main", "index": 0}]]}, "Action_Agent_File": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}, "Error_Trigger": {"main": [[{"node": "Error_Response", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "staticData": null, "meta": null, "pinData": null, "versionId": "1290115c-61eb-453c-98ec-4259385e7d42", "activeVersionId": "1290115c-61eb-453c-98ec-4259385e7d42", "versionCounter": 20, "triggerCount": 1, "shared": [{"updatedAt": "2026-03-03T03:33:18.108Z", "createdAt": "2026-03-03T03:33:18.108Z", "role": "workflow:owner", "workflowId": "IT4LuCQm7Ph62Hf2", "projectId": "boV7btArBtpvCiXm", "project": {"updatedAt": "2026-02-26T17:12:27.000Z", "createdAt": "2026-02-26T16:20:14.970Z", "id": "boV7btArBtpvCiXm", "name": "Specialist Agents", "type": "team", "icon": null, "description": null, "creatorId": "5dc71cb3-2edd-4f1b-8401-40d83ad90f1b"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-17T20:55:09.189Z", "createdAt": "2026-03-17T20:55:09.189Z", "versionId": "1290115c-61eb-453c-98ec-4259385e7d42", "workflowId": "IT4LuCQm7Ph62Hf2", "nodes": [{"id": "db5ff992-e0a2-490d-b6e9-9115183a65e8", "name": "Webhook_Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [100, 240], "parameters": {"httpMethod": "POST", "path": "Resonance-webhook", "responseMode": "responseNode", "options": {"responseCode": 200}}, "webhookId": "super-agent-v1"}, {"id": "379bf29c-f208-4295-8595-294ba12ddbf5", "name": "Reasoning_Agent", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1, "position": [320, 240], "parameters": {"prompt": "={{ $json.body.prompt }}", "options": {}}}, {"id": "6fc48115-950f-4118-8295-cb95d1431b0c", "name": "Gemini_Flash_Model", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [320, 460], "parameters": {"modelName": "models/gemini-2.0-flash", "options": {}}, "credentials": {"googlePalmApi": {"id": "CH9bCzMpKZxXZ0TC", "name": "Google Gemini(PaLM) Api account"}}}, {"id": "a76f95ad-68f3-4328-9d84-f43204ccf79a", "name": "Integration_Logic", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 240], "parameters": {"jsCode": "const inputs = $input.all();\nconst text = inputs[0].json.text;\nconst prompt = $('Webhook_Trigger').item.json.body.prompt;\n\n// Basic heuristic to extract a filename or create one\nlet fileName = \"Agent_Report.md\";\nif (prompt.toLowerCase().includes(\"java\")) fileName = \"Logic.js\";\nif (prompt.toLowerCase().includes(\"python\")) fileName = \"script.py\";\n\nreturn [{\n  json: {\n    app_name: \"Generated_App_\" + Math.floor(Math.random() * 1000),\n    file_name: fileName,\n    code: text\n  }\n}];"}}, {"id": "92a99774-9393-4576-95bb-a4d1ae299b36", "name": "Action_Agent_Folder", "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [760, 240], "parameters": {"resource": "folder", "name": "={{ $json.app_name }}", "driveId": {"__rl": true, "mode": "list", "value": "My Drive"}, "folderId": {"__rl": true, "value": "14uwBeFn8g5CbKLdOeUQSLH1ZD8B8Tc9W", "mode": "id"}, "options": {}}, "credentials": {"googleDriveOAuth2Api": {"id": "pVhQkv0LNDx2q0Ts", "name": "Google Drive account 7"}}}, {"id": "a41d2ace-a2e6-4be5-ab82-8a3272dc19bd", "name": "Translator", "type": "n8n-nodes-base.convertToFile", "typeVersion": 1, "position": [980, 240], "parameters": {"operation": "toText", "sourceProperty": "={{ $('Integration_Logic').item.json.code }}", "options": {"fileName": "={{ $('Integration_Logic').item.json.file_name }}"}}}, {"id": "ca3bfdeb-7afa-469e-8960-d19ef040d2ce", "name": "Action_Agent_File", "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [1200, 240], "parameters": {"name": "={{ $('Integration_Logic').item.json.file_name }}", "driveId": {"__rl": true, "mode": "list", "value": "My Drive"}, "folderId": {"__rl": true, "value": "={{ $node[\"Action_Agent_Folder\"].json[\"id\"] }}", "mode": "id"}, "options": {}}, "credentials": {"googleDriveOAuth2Api": {"id": "pVhQkv0LNDx2q0Ts", "name": "Google Drive account 7"}}}, {"id": "72566a70-7780-4886-8261-235ad7d24212", "name": "Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1420, 240], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ text: $(\"Reasoning_Agent\").item.json.text || \"No response.\", status: \"success\", source: \"multi_agent_core\" }) }}", "options": {}}}, {"id": "5cc69a39-3efd-4e82-a1db-381fc559a76c", "name": "Error_Trigger", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [540, 500], "parameters": {}}, {"id": "a2cf0518-249d-495e-ae43-35a660583c00", "name": "Error_Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [850, 500], "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ text: 'Internal workflow error: ' + ($json.execution?.error?.message || 'Unknown error'), source: 'multi_agent_core_error' }) }}", "options": {"responseCode": 200}}}], "connections": {"Webhook_Trigger": {"main": [[{"node": "Reasoning_Agent", "type": "main", "index": 0}]]}, "Gemini_Flash_Model": {"ai_languageModel": [[{"node": "Reasoning_Agent", "type": "ai_languageModel", "index": 0}]]}, "Reasoning_Agent": {"main": [[{"node": "Integration_Logic", "type": "main", "index": 0}]]}, "Integration_Logic": {"main": [[{"node": "Action_Agent_Folder", "type": "main", "index": 0}, {"node": "Response", "type": "main", "index": 0}]]}, "Action_Agent_Folder": {"main": [[{"node": "Translator", "type": "main", "index": 0}]]}, "Translator": {"main": [[{"node": "Action_Agent_File", "type": "main", "index": 0}]]}, "Action_Agent_File": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}, "Error_Trigger": {"main": [[{"node": "Error_Response", "type": "main", "index": 0}]]}}, "authors": "Mauro Petrini", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-17T20:55:09.392Z", "id": 556, "workflowId": "IT4LuCQm7Ph62Hf2", "versionId": "1290115c-61eb-453c-98ec-4259385e7d42", "event": "activated", "userId": "5dc71cb3-2edd-4f1b-8401-40d83ad90f1b"}, {"createdAt": "2026-03-17T20:55:09.291Z", "id": 555, "workflowId": "IT4LuCQm7Ph62Hf2", "versionId": "1290115c-61eb-453c-98ec-4259385e7d42", "event": "deactivated", "userId": "5dc71cb3-2edd-4f1b-8401-40d83ad90f1b"}]}}