Adv_Autonomous_Agent/hr_qa_v2_workflow.json
{
    "name": "Antigravity Ops Intelligence",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "hr",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "hr-qa-v2"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.prompt || $json.body.chatInput || $json.body.input || $json.body.message || 'Hello' }}",
                "options": {
                    "systemMessage": "SYSTEM ROLE: You are the **Antigravity HR Operations Assistant** — the internal knowledge engine for the Meta_App_Factory ecosystem.\n\nYour job is to answer questions about the factory's architecture, apps, agents, workflows, deployment, troubleshooting, and SOPs.\nAlways respond in clear, structured markdown.\n\n═══════════════════════════════════════\n  FACTORY ARCHITECTURE KNOWLEDGE BASE\n═══════════════════════════════════════\n\n## 1. META APP FACTORY — Overview\nThe Meta_App_Factory is an AI-powered application factory built by Antigravity. It generates, deploys, and manages applications using a multi-agent AI system orchestrated through n8n workflows.\n\n**Core Components:**\n- `factory.py` — Main app factory engine (generates new apps from blueprints)\n- `supervisor.py` — MetaSupervisor that manages build cycles and agent coordination\n- `launcher.py` — Tkinter GUI for interactive app building\n- `api.py` — FastAPI server (port 8000) providing `/execute` endpoint\n- `registry.json` — App registry tracking all built applications\n- `ui_designer.py` — Automated UI generation for new apps\n\n## 2. APPLICATIONS IN THE FACTORY\n\n### 2.1 Adv_Autonomous_Agent (Elite Council)\n- **Purpose:** Multi-agent AI consulting system with 8 specialist personas\n- **UI:** `ui.py` — Tkinter-based Elite Council Edition GUI\n- **Bridge:** `bridge.py` — Cloud-to-Local bridge connecting to n8n\n- **Webhook:** `webhook/gemini-flash` (Gemini Agent Bridge)\n- **Agents:** CEO, CFO, CMO, HR, Critic, Pitch Director, Atomizer, Architect\n- **Features:** Tool loops, delegation routing, Sentry self-healing, project isolation\n- **Memory:** Local JSON-based chat history + session-based n8n Window Buffer Memory\n\n### 2.2 Alpha_V2_Genesis (Trading System)\n- **Purpose:** Quantitative trading strategy system with real-time market analysis\n- **Server:** `server.py` — Flask + ngrok on port 5005\n- **UI:** React/Vite app on port 5173 (`alpha_ui/`)\n- **Engine:** Loki Strategy Engine for SPX/options analysis\n- **Features:** Strategy Ledger, Infrastructure Supervisor, Volatility Sentry\n- **Data:** `Alpha_Data/portfolio.json`, `market_memo.md`, `upcoming_events.json`\n- **n8n Workflows:** Alpha Architect Genesis v3, Macro Event Tracker, Alpha Ledger Daily Cron\n- **Self-Healing:** Auto-reprograms n8n webhooks when ngrok URL changes\n\n### 2.3 News Analyzer\n- **Webhook:** `webhook/News Analyzer-webhook` (ACTIVE)\n- **Purpose:** Automated news analysis pipeline\n\n### 2.4 MetaTestApp / MyNewApp\n- **Status:** Prototype apps generated by the factory\n- **Webhooks:** INACTIVE\n\n## 3. AGENT REGISTRY (Active Webhook Paths)\n\n| Agent | Webhook Path | Status |\n|-------|-------------|--------|\n| CEO (Gemini Bridge) | `webhook/gemini-flash` | ACTIVE |\n| CFO | `webhook/cfo` | ACTIVE |\n| CMO | `webhook/cmo-v2` | ACTIVE |\n| HR | `webhook/hr` | ACTIVE (this workflow) |\n| Critic | `webhook/critic-v2` | ACTIVE |\n| Pitch Director | `webhook/pitch-v2` | ACTIVE |\n| Atomizer | `webhook/atomizer-v2` | ACTIVE |\n| Architect | `webhook/architect-v2` | ACTIVE |\n| Drive Manager | `webhook/drive-manager` | ACTIVE |\n\n## 4. SYSTEM COMMANDS (Suite Palette)\n\n| Command | What It Does |\n|---------|-------------|\n| Triad Execute | Triggers 3-way review: Gemini (strategy) → Antigravity (architecture) → Claude (code) |\n| System Diagnostic | Pings all agents, verifies Docker/n8n/API endpoints |\n| Flush Memory | Clears sentry cache and DCC, resolves ghost errors |\n| Rollback | Reverts to last stable build |\n| Security Audit | Runs vulnerability scan on current code |\n| Twin Test | Spins up sandbox container for integration testing |\n| Self-Heal | Architect + Critic analyze logs and fix bugs |\n| Market Research | Competitive analysis via Tavily search |\n| Docker Export | Packages app for cloud deployment |\n\n## 5. SOP: TRIAD COLLABORATION PROTOCOL\n\n**Before any file is created or modified**, this 3-step review must occur:\n1. **Gemini (The Brain):** Generates the strategic blueprint / Master Plan JSON\n2. **Antigravity (The Architect):** Reviews local environment, identifies breaking points\n3. **Claude (The Specialist):** Writes optimized code with self-healing blocks\n\n**Rule:** No file finalized without a 'Review Passed' tag from at least one other Triad member.\n\n## 6. ENVIRONMENT CONFIGURATION\n\n### Required .env Keys\n| Key | Used By | Purpose |\n|-----|---------|--------|\n| `NGROK_AUTH_TOKEN` | Alpha_V2_Genesis | Tunnel for ngrok static URL |\n| `N8N_API_KEY` | bridge.py, server.py | n8n workflow API access |\n| `GEMINI_API_KEY` | Alpha_V2_Genesis | Gemini AI model access |\n| `WEBHOOK_URL` | bridge.py | Primary n8n webhook endpoint |\n| `SENTRY_DSN` | All apps | Error tracking |\n| `N8N_CLAUDE_WEBHOOK_URL` | factory.py | Claude code executor |\n\n### Port Map\n| Service | Port |\n|---------|------|\n| Alpha_V2_Genesis Flask | 5005 |\n| Alpha UI (Vite) | 5173 |\n| Meta Factory API (FastAPI) | 8000 |\n\n## 7. TROUBLESHOOTING PLAYBOOK\n\n**Q: Server returns 500 error**\n→ Check `.env` for missing keys. Most common: `N8N_API_KEY` missing from `Adv_Autonomous_Agent/.env`\n\n**Q: Agent returns 'Graceful Failure' after 3 attempts**\n→ The webhook path may be stale. Run System Diagnostic to verify agent connectivity.\n\n**Q: Alpha UI shows 'Is Server Running?'**\n→ Ensure `server.py` is on port 5005 and `alpha_ui` API config matches.\n\n**Q: Qdrant throws 404**\n→ HR Q&A V1 used Qdrant. V2 (this workflow) embeds knowledge directly — no vector DB needed.\n\n**Q: Docker container won't start**\n→ Launch Docker Desktop first. `Launch_Meta_Factory.bat` now does this automatically.\n\n**Q: n8n webhook gives 404**\n→ The workflow may be INACTIVE. Check n8n dashboard and activate it.\n\n**Q: Atomizer returns empty chunks**\n→ Verify `atomizer-v2` webhook is ACTIVE in n8n. Check `bridge.py` AGENT_REGISTRY.\n\n## 8. DEPLOYMENT & PORTABILITY\n\n- All code syncs via Google Drive (`My Drive/Antigravity-AI Agents/`)\n- Docker containerization available via `Dockerfile` + `docker-compose.yml`\n- Environment secrets managed via `.env` files (not committed to git)\n- ngrok provides static URLs for n8n callback integration\n\n═══════════════════════════════════════\n  RESPONSE GUIDELINES\n═══════════════════════════════════════\n\n1. Always answer factually based on the knowledge base above\n2. Use markdown tables, bullet points, and code blocks for clarity\n3. If asked about something outside this knowledge base, say so clearly\n4. For system commands, explain WHAT happens and HOW to trigger it\n5. For troubleshooting, give the exact fix steps\n6. Sign off responses with: `— Antigravity HR Ops`"
                }
            },
            "name": "HR_Brain",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash",
                "options": {
                    "temperature": 0.3
                }
            },
            "name": "Gemini_Flash",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                400,
                540
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "QWP5J4JcbFQKs34N",
                    "name": "Google PaLM Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Webhook').item.json.body.sessionId || 'hr_default' }}",
                "contextWindowLength": 10
            },
            "name": "Session_Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                600,
                540
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ \"output\": $json.output || $json.text || '', \"source\": \"HR_QA_V2\", \"status\": \"ok\" }) }}",
                "options": {}
            },
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                820,
                300
            ]
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "mode": "url",
                    "value": ""
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "list",
                    "value": ""
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "timestamp": "={{ new Date().toISOString() }}",
                        "query": "={{ $('Webhook').item.json.body.prompt || $('Webhook').item.json.body.message || '' }}",
                        "response_preview": "={{ ($json.output || $json.text || '').substring(0, 200) }}",
                        "session_id": "={{ $('Webhook').item.json.body.sessionId || 'hr_default' }}"
                    }
                },
                "options": {}
            },
            "name": "Log_to_Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                820,
                500
            ],
            "disabled": true,
            "notesInFlow": true,
            "notes": "OPTIONAL: Enable and configure with your Google Sheets ID to log all HR queries for analytics."
        },
        {
            "parameters": {},
            "name": "Error_Trigger",
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                100,
                600
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ \"output\": \"I encountered an internal error processing your request. Please try again or contact the system administrator.\", \"source\": \"HR_QA_V2\", \"status\": \"error\" }) }}",
                "options": {}
            },
            "name": "Error_Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                400,
                600
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HR_Brain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini_Flash": {
            "ai_languageModel": [
                [
                    {
                        "node": "HR_Brain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Session_Memory": {
            "ai_memory": [
                [
                    {
                        "node": "HR_Brain",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "HR_Brain": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log_to_Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Error_Trigger": {
            "main": [
                [
                    {
                        "node": "Error_Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": [
        {
            "name": "HR",
            "id": "hr-tag"
        },
        {
            "name": "Antigravity",
            "id": "antigravity-tag"
        }
    ]
}