blueprints/gemini_reasoner.json
{
    "name": "Gemini Reasoner Blueprint (Langchain)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "reason",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                200
            ]
        },
        {
            "parameters": {
                "prompt": "={{ $json.body.prompt }}",
                "options": {}
            },
            "name": "Gemini Chain",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1,
            "position": [
                450,
                200
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash",
                "options": {}
            },
            "name": "Google Gemini Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                450,
                420
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "QWP5J4JcbFQKs34N"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ text: typeof $json.text === 'string' ? $json.text : JSON.stringify($json), source: 'gemini_reasoner' }) }}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                200
            ]
        },
        {
            "parameters": {},
            "name": "Error_Trigger",
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                450,
                620
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ text: 'Internal workflow error: ' + ($json.execution?.error?.message || 'Unknown error'), source: 'gemini_reasoner_error' }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "name": "Error_Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                620
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gemini Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini Chain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Chain": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Error_Trigger": {
            "main": [
                [
                    {
                        "node": "Error_Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}